---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all -%}
  {%- set robots = page.data.metaRobots or "" -%}
  {%- if page.data.permalink !== false
       and "noindex" not in robots
       and "/templates/" not in page.url
       and "/admin/" not in page.url
       and page.url !== "/site/" %}
  <url>
    <loc>{{ global.url }}{{ page.url }}</loc>
    <lastmod>{{ page.date.toISOString() }}</lastmod>
    <changefreq>{% if page.url == "/" %}weekly{% elif "/blog/" in page.url %}monthly{% else %}monthly{% endif %}</changefreq>
    <priority>{% if page.url == "/" %}1.0{% elif "/servicios/" in page.url %}0.9{% elif "/blog/" in page.url %}0.7{% else %}0.6{% endif %}</priority>
  </url>
  {%- endif -%}
{%- endfor %}
</urlset>
