<!-- blog-loop.njk -->
<li class="{{ class_name }}">
  <a class="w-100" href="{{ blog.url }}">
      <article class="mb-24">
          <div class="article-img rad-24 ar-3-4 bg-white align-center">
            <img width="100%" height="100%" src="{{ global.imageDir }}{{ blog.data.image }}" alt="{{ blog.data.imageAlt }}" class="h1">
            <div class="fluid-9-b">Boilerplate titulo</div>
          </div>
          <div class="article-text mt-24">
              <h3 class="fluid-8-r"><a href="{{ blog.url }}">{{ blog.data.title }}</a></h3>
              <h3 class="fluid-9-r"><a href="{{ blog.url }}">{{ blog.data.subtitle }}</a></h3>
              {% for tag in blog.data.tags %}
              <div class="tag-info">
                {{ tag }}
              </div>
              {% endfor %}
              <p class="mb-24">{{ blog.data.description }}</p>
              <a href="{{ blog.url }}" class="btn link-line">Leer más</a>
          </div>
      </article>
  </a>
</li>
