<!-- content_2.njk -->
<section class="bg-color ptr-120 " data-scroll-section>

<div class="container-5">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2 class="fluid-4-b  pb-16">{{content_2_subtitle | mdbr |safe }} </h2>
      <h4 class="h4  pb-20">{{content_2_title | mdbr |safe }} </h4>

    </div>
  </div>
</div>


  <div class="container-5  pb-64">
    <div class="row ptr-64 pbr-64 smmax:reverse   ">
      <div class="col-xs-12 col-sm-6 front-text">
        <img width="100%" src="/assets/static/images/foto3.webp" alt="">
      </div>
      <div class="col-xs-12 col-sm-6 front-text  align-middle  mb-32 sm:mb-0 ">
        <div class="wmax-450 mx-auto">
          <div class="fluid-5-b mb-16 c-accent  "> 01 </div>

          <h3 class="fluid-5-r mb-24  "> {{ content_2_title_1 | mdbr | safe }}</h3>
  
          <p class="fluid-9-r  "> {{ content_2_description_1 | mdbr | safe }}</p>
        </div>
      </div>

 
    </div>
    <div class="row ptr-64 pbr-64   ">
      <div class="col-xs-12 col-sm-6 front-text  align-middle  mb-32 sm:mb-0 "  >
        <div class="wmax-450 mx-auto">
          <div class="fluid-5-b mb-16 c-accent  "> 02 </div>
          <h3 class="fluid-5-r mb-24  "> {{ content_2_title_2 | mdbr | safe }}</h3>
          <p class="fluid-9-r  "> {{ content_2_description_2 | mdbr | safe }}</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 front-text  ">
        <img width="100%" src="/assets/static/images/foto1.webp" alt="">
      </div>
    </div>



    <div class="row ptr-64 pbr-64 smmax:reverse   ">
      <div class="col-xs-12 col-sm-6 front-text  ">
        <img width="100%" src="/assets/static/images/foto2.webp" alt="">
      </div>
      <div class="col-xs-12 col-sm-6 front-text  align-middle  mb-32 sm:mb-0 ">
        <div class="wmax-450 mx-auto">
          <div class="fluid-5-b mb-16 c-accent  "> 03 </div>
          <h3 class="fluid-5-r mb-24  "> {{ content_2_title_3 | mdbr | safe }}</h3>

          <p class="fluid-9-r  "> {{ content_2_description_3 | mdbr | safe }}</p>
        </div>
      </div>


    </div>
</section>