<!-- content_5.njk -->
<section class="bg-color ptr-120  pbr-120  " data-scroll-section data-scroll-section-id="section3" data-scroll-section-inview
  id="direction">
  <div class="container-fluid pbr-64">
    <div class="row">
      <div class="col-xs-12 full-logo">
 
 
  
    
      </div>
    </div>
  </div>
  <div class="container-global-3 mx-auto  pb-64">


<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="h5 mb-16 c-accent  "> {{ content_5_title | mdbr | safe }}</div>
    <div class="fluid-4-b mb-24  "> {{ content_5_subtitle | mdbr | safe }}</div>

  </div>
</div>


    <div class="row">
      <div class="col-xs-12 col-md-6">

        <div class="h4 "> {{ content_5_description_1 | mdbr | safe }}</div>
      </div>


          <div class="col-xs-12 col-md-6 mb-32 md:mb-0  ">
 
            <div class="p1  "> {{ content_5_description_2 | mdbr | safe }}</div>
          </div>
  

  
  
    </div>
</section>