<!-- contacta_3.njk -->

<section class="hero  front-section bg-light " data-scroll-section>  
  <div class="container pt-64 pb-24 ">

    <div class="row mbr-64 ">


      <div class="col-xs-12 col-md-4 mb-24 ">
  
          <div class="c-gray fluid-7-r">Showroom </div>
    
          <div class="mb-24"></div>
        <div class="fluid-9-r">
          En el espacio expositivo interno de la empresa es posible descubrir los productos ofrecidos por Toldos marfil reproducidos en diferentes tipos de ambientes.

        </div>
        <div class="mb-24"></div>
        <div class="fluid-8-r">
          Recibimos con cita previa.
        </div>
      </div>

      <div class="col-xs-12 col-md-1"></div>
      <div class="col-xs-12 col-md-4 mb-24 ">

        <div class="c-gray fluid-7-r "></div>
        <div class="mb-24"></div>
        <div class="text-18-b">¿Dónde estamos? </div>
        <div class="text-16-r">{{global.direccion}}</div>
        <div class="text-16-r">    <a target="_blank" class="link-line" href="{{global.googlemaps_link}}"> Ver mapa </a>  </div>

<div class="mb-24"></div>

     <div class="text-18-b">Via email </div>
      <div class="text-16-r"><a href="mailto:{{global.email}} ">{{global.email}} </a> </div> 

      <div class="mb-24"></div>
 
          <div class="text-18-b">Teléfono</div>
      <div class="text-16-r"><a href="tel:{{global.telefono}}">{{global.telefono}} </a> </div>
      <div class="text-18-b mt-24">Whatsapp</div>
      <div class="text-16-r"> <a href="https://wa.me/{{global.whatsapp}}">{{global.whatsapp}} </a>   </div>  

      </div>


    </div>
</section>




<div class="container-fluid">
  <div class="row bleed-0">
    <div class="col-xs-12">
      <iframe 
      src="{{global.contacta_map}}" 
      
      style="float: left;"
      width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
