<!-- introBenefits_2.njk -->
<section class="bg-color  ptr-120 pbr-120 front-section o-hidden " data-scroll-section>
  <div class="watermark">
    <?xml version="1.0" encoding="UTF-8"?>
    <svg id="Modo_de_aislamiento" data-name="Modo de aislamiento" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 212.62 195.38">
      <path id="Fill-17" d="M54.71,98.07c0-26.36,21.32-47.73,47.63-47.73,0,0,31.76.5,54.3,20.58v.97c-.01,74.73-54.3,74.19-54.3,74.19-26.3,0-47.63-21.37-47.63-47.73v-.29ZM94.35,194.95c21.94,0,43.84-6.98,62.52-19.41v19.84h55.58V48.75c.05-1.87.11-3.86.17-6-.05-.06-.09-34-.1-42.75h-55.89v21.41C140.18,9.93,115.57,1.49,94.35,1.49,42.24,1.49,0,49.39,0,101.08v.27c0,51.69,42.24,93.6,94.35,93.6h0Z" style="fill: #71b7d9; fill-rule: evenodd; stroke-width: 0px;"/>
    </svg>

  </div>
  <div class="container-global-3  mx-auto   ">
    <div class="row mb-32  inview">
      <div class="col-xs-12 col-lg-11 ">
        <div class="text-18-r c-accent mb-24">
          {{introbenefits2_subtitle | mdbr |safe}}
        </div>
        <div class="h3 ">
          {{ introbenefits2_content | mdbr |safe }}
        </div>
      </div>
    </div>

  </div>
</section>