<!-- introBenefits_2.njk -->
<section class="bg-color  ptr-120 pbr-120 front-section o-hidden " data-scroll-section>
  <div class="watermark">

  </div>
  <div class="container-global-3  mx-auto   ">
    <div class="row mb-32  inview">
      <div class="col-xs-12 col-lg-6  ">
        <div class="text-18-r c-accent mb-24">
          {{introbenefits2_subtitle | mdbr |safe}}
        </div>
        <div class="fluid-8-r ">
          {{ introbenefits2_content | mdbr |safe }}
        </div>
      </div>
<div class="col-xs-12 col-lg-5">

  <img class="w-100" data-scroll data-scroll-speed="-2"  src="/assets/static/images/a_laboral.jpg" alt="">

</div>

    </div>

  </div>
</section>