---
layout: layout/base.njk
permalink: /antigua/
---



<section class="bg-light pbr-64 ptr-120" data-scroll-section> 

<body class="ltr"><!-- BEGIN WAYBACK TOOLBAR INSERT -->

  <div id="wm-ipp-base" lang="en" style="display: block; direction: ltr;">
  </div><div id="wm-ipp-print">The Wayback Machine - https://web.archive.org/web/20231206142130/https://www.abogado-laboral.es/</div>
  <script type="text/javascript">//<![CDATA[
  __wm.bt(725,27,25,2,"web","https://www.abogado-laboral.es/","20231206142130",1996,"https://web-static.archive.org/_static/",["https://web-static.archive.org/_static/css/banner-styles.css?v=S1zqJCYt","https://web-static.archive.org/_static/css/iconochive.css?v=qtvMKcIJ"], false);
    __wm.rw(1);
  //]]></script>
  <!-- END WAYBACK TOOLBAR INSERT -->
   
    <!-- Facebook SDK root. Must be the first child element of the body tag -->
    <!-- <div id="fb-root"></div> -->
  
    <!--[if lt IE 8]>
      <p class="browserupgrade">Esta usando un navegador obsoleto <strong>desactualizado</strong>. Por favor <a href="http://browsehappy.com/">actualize su navegadorr</a> para mejorar su experiencia de usuario</p>
      <![endif]-->
  
    <div class="columns align-middle  is-flex hero-big   fondo-1">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="logo"> <img alt="logo" src="/web/20231206142130im_/https://www.abogado-laboral.es/images/logo_2.png"> </div>
            <h1 class="h1 "><b>
                Tu abogado laboral
              </b>
            </h1>
            <h2 class="h2">
  
  
              ¿Quieres respuesta a tu problema laboral? <br>
              Has encontrado los expertos que buscabas <br></h2>
            <p>Nuestros años de experiencia laboral y en materias de seguridad social nos avalan
            </p>
          </div>
          <div class="col"></div>
        </div>
      </div>
  
    </div>
  
  
  
    <section class="pd-50">
  
      <div class="container-2">
        <div class="row">
          <div class="col text-center">
            <h4 class="h4">
               ÚLTIMA HORA</h4>
            <h2 class="h2 pb-20">
         Descárgate la autorización para poder salir a la calle en estado de alarma.  
            </h2>
            <p>
  La autorización que necesitas en formato word, simplemente rellénala con tus datos .          </p>
  
            <a href="certificado.docx"> Descargar certificado +</a>
          </div>
        </div>
      </div>
    </section>
  
  
    <section class="pd-50">
  
      <div class="container-2">
        <div class="row">
          <div class="col text-center">
  
            <h2 class="h2 pb-20">
              ¿Qué es un ERTE?   
            </h2>
            <p>
             Los ERTE los expediente de regulación temporal , qué son, y en que pueden afectarte
            </p>
  
            <a href="/web/20231206142130/https://www.abogado-laboral.es/que-es-un-erte"> ver más +</a>
          </div>
        </div>
      </div>
    </section>
  
    <section class="pd-50">
  
      <div class="container">
        <div class="row">
  
          <div class="col">
            <img alt="logo" src="/web/20231206142130im_/https://www.abogado-laboral.es/images/a_laboral.jpg">
          </div>
          <div class="col">
  
            <h3 class="h3 pb-20">BIENVENIDOS A <br> <b>
                ABOGADO LABORAL
              </b> </h3>
  
  
  
            <p class="text-justify">
  
              Nuestra firma se forma por la unión de abogados especializados en derecho laboral,
              incapacidad y en centros especiales de empleo, asesorando indistintamente a
              empresas, particulares y asociaciones. <br> <br>
              Nuestra marca se basa en que solo con el conocimiento específico de la materia
              pueden conseguirse la perfección profesional, por tal motivo desde el bufete se
              mantienen rigurosas normas de calidad, teniendo como único objetivo el éxito del
              procedimiento.
            </p>
  
  
          </div>
  
        </div>
      </div>
  
    </section>
  
  
  
  
  
  
  
  
  
    <section class="pd-50">
  
      <div class="container-2">
        <div class="row">
          <div class="col text-center">
            <h4 class="h4">
              Nuestros Servicios </h4>
            <h2 class="h2 pb-20">
              SERVICIOS
            </h2>
            <p>
              Para dar un servicio completo, el bufete cuenta con un departamento laboral, fiscal y
              contable donde trabajan expertos por materias para solucionar los problemas diarios
  
              de empresas y particulares
            </p>
          </div>
        </div>
      </div>
    </section>
  
    <!-- Modulo 3 - 3 items -->
  
    <section>
      <div class="container">
        <div class="row-6">
          <div class="col">
            <h5 class="h5 title-tiny"> Centros Especiales de empleo </h5>
            <p class="text-justify">Somos el primer despacho de abogados en Andalucía especializado íntegramente en
              centros especiales de empleo, tanto en la creación, gestión y asesoramiento de los
              mismos, así como la tramitación de todo tipo de subvenciones.
              Asesoramos a diferentes entidades empresariales y sociales a nivel provincial y
              autonómico, en temas de contrataciones de discapacitados así como en derecho
  
              laboral. </p>
          </div>
          <div class="col">
            <h5 class="h5 title-tiny"> Pensiones por incapacidad laboral
            </h5>
            <p class="text-justify">Solucionamos tus problemas y dudas para conseguir cualquier pensión por
              incapacidad, nuestra especialización en la materia nos hace diferentes, ya sea en vía
              administrativa o judicial. Tenemos la respuesta para cada una de tus problemas.
            </p>
          </div>
          <div class="col">
            <h5 class="h5 title-tiny"> Jubilaciones </h5>
            <p class="text-justify">Si estás pensando en jubilarte, podemos asesorarte en cómo conseguir la máxima
              pensión posible, deja que abogados laboralistas estudien tu caso.
            </p>
          </div>
  
          <div class="col">
            <h5 class="h5 title-tiny"> Reclamación de seguros por muerte o invalidez
            </h5>
            <p class="text-justify">Una gran mayoría de personas cuando se les concede una pensión no conocen que
              pueden cobrar indemnizaciones de seguros o convenios que habían firmado en el
              pasado, si quieres aclarar tus dudas o informarte, podemos ayudarte.
            </p>
          </div>
          <div class="col">
            <h5 class="h5 title-tiny"> Discapacidad
            </h5>
            <p class="text-justify">Si te planteas que puedes tener un grado de discapacidad, pero no conoces los
              medios o los sistemas de valoración, no dudes en ponerte en contacto con nosotros
  
              para aclararte.
            </p>
          </div>
          <div class="col">
            <h5 class="h5 title-tiny"> Incrementos de pensiones por accidente de trabajo
            </h5>
            <p class="text-justify">Si sufriste un accidente de trabajo por imprudencia empresarial o falta de medida de
              seguridad, puedes solicitar un incremento de tu pensión desde un 30% a un 50%,
  
              incluso aunque estés en incapacidad temporal.
            </p>
          </div>
        </div>
      </div>
    </section>
  
    <style>
      .menu-stick{
        z-index: 1000;
        position: fixed;
        width: 100%;
        height: 50px;
        bottom: 0;
        border-top: 1px solid #eaeaea;
        background-color: white;
        text-align: center;
      }
      .menu-stick a{
        position: absolute;
        width: 200px;
          left: calc(50% - 100px);
          margin-left: -100px;
          text-align: center;
      
          background: #038391;
          padding: 5px 10px;
          margin: 0 auto;
      
          color: #fff;
          font-size: 14px;
          font-weight: 500;
      
      }
      
      </style>
      
      <div class="menu-stick">
        <a href="https://web.archive.org/web/20231206142130/https://wa.me/671338340?text=Hola,%tengo%20dudas%20acerca%20de%20temas%20laborales%20"> Llámanos  <br>854 74 67 20</a>
      </div>
      
  
    <!-- Modulo text-center items -->
    <section>
      <div class=" is-flex hero-big align-middle fondo-2 ">
        <div class="container-2 text-center">
          <p>La victoria para los que la preparan
          </p>
          <h3 class="h3"> Amat victoria curam </h3>
        </div>
      </div>
  
    </section>
  
  
    <!-- Modulo text-centrado container-2 -->
  
    <section class="pd-50">
      <div class="container-2">
        <div class="row">
          <div class="col text-center">
            <h4 class="h4">
              Elígenos </h4>
            <h2 class="h2 pb-20">
              Somos tu mejor opción
            </h2>
            <p class="text-justify">
  
              El bufete Abogado Laboral, se caracteriza por su especialización en el ámbito laboral y
              pensiones por incapacidad, prestando servicios en toda Andalucía.
              No podemos prometer resultados pero sí garantizamos luchar por tus intereses,
              también nos avala como marca de excelencia la firma de una hoja de encargo donde
              se detallarán los trabajos a realizar y el precio de los mismos para su seguridad jurídica. <br> <br>
  
              Nuestra experiencia desde 2009 solo en temas laborales y de pensiones de
              incapacidad, nos avalan pudiendo realizar procedimientos allí donde se nos contrate,
  
              salvando el problema de la distancia.
              Nuestro compromiso es su éxito. </p>
          </div>
        </div>
      </div>
  
    </section>
  
    <section class="pd-50 fondo-5 is-white">
      <div class="container-2">
        <div class="row">
          <div class="col text-center">
            <h4 class="h4">
              Servicios a empresas
            </h4>
            <h2 class="h2 pb-20">
              ¿Eres empresario?
            </h2>
            <p class="text-justify">
              A los efectos de cubrir todas tus necesidades, nuestro bufete cuenta con un
              departamento fiscal, contable y laboral para que puedas confiar todas tus necesidades
              en nosotros, con el objetivo de ahorrar costes y maximizar tus ingresos.
            </p>
          </div>
        </div>
      </div>
  
    </section>
  
  
  
    <!-- Modulo 3 items-->
    <section class="pd-50">
      <div class="container">
        <div class="row">
          <div class="col">
            <h5 class="h5 title-tiny"> Inspecciones de trabajo </h5>
            <p class="text-justify">Te representamos ante las inspecciones de trabajo, así como impugnamos actas de
              infracción y liquidación, acompañándote en el procedimiento judicial.
            </p>
          </div>
          <div class="col">
            <h5 class="h5 title-tiny"> Despidos </h5>
            <p class="text-justify">
              ¿Te han despedido o quieres despedir? Como especialistas en la materia te
              informamos de los requisitos que deben tener estos trámites y que pueden suponer
  
              tu éxito en el juzgado.
            </p>
          </div>
          <div class="col">
            <h5 class="h5 title-tiny"> Modificaciones de condiciones de trabajo
            </h5>
            <p class="text-justify">Los cambios de jornada, horario o turno, deben realizarse según un protocolo
              establecido en el Estatuto de los Trabajadores, un fallo en el mismo considera nulo la
  
              medida tomada, no corras el riesgo y consúltanos.
            </p>
          </div>
        </div>
      </div>
    </section>
  
    <section>
      <div class=" is-flex hero-big align-middle fondo-3">
        <div class="container">
          <div class="row">
            <div class="col"> </div>
            <div class="col">
              <h3 class="h3 pb-20">Único bufete de abogados especializado en centros especiales de empleo en Andalucía
              </h3>
              <p>
                Convertimos tu empresa en un centro especial de empleo, te orientamos y solicitamos
  
                todas las subvenciones posibles</p>
              <ul>
                <li> <a class="link1" href="">Inspecciones de trabajo</a>
                </li><li> <a class="link1" href="">Despidos</a> </li>
                <li> <a class="link1" href="">Modificación sustancial de condiciones</a> </li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
  
    </section>
  
    <section>
      <div class=" is-flex hero-big align-middle">
        <div class="container">
          <div class="row">
            <div class="col">
              <h3 class="h3 pb-20">Todo bajo Control </h3>
              <h4 class="h4 pb-20">
                Claridad
              </h4>
              <p>
                Es uno de nuestros pilares, por ello desde la web puedes conectarte a la extranet y ver
  
                como está tu expediente.
              </p>
              <h4 class="h4 pb-20">
                Transparencia
              </h4>
              <p>
                Es clave en nuestras relación profesional, prueba de ello es la firma de una hoja de
                encargo, donde se detalla el servicio contratado y precio pactado para ello, sin
  
                sorpresas ni letra pequeña.
              </p>
            </div>
            <div class="col">
  
              <img src="/web/20231206142130im_/https://www.abogado-laboral.es/images/monitor.png" alt="abogado monitor control"> </div>
          </div>
        </div>
      </div>
  
    </section>
  
    <section class="pd-50">
      <div class="container-2">
        <div class="row">
          <div class="col text-center">
            <h4 class="h4">
              abogado-laboral.es
            </h4>
            <h4 class="h2 pb-20">
              Estamos en Youtube
            </h4>
            <p class="text-justify">
              Abogado Laboral tiene como objetivo llegar a cuantas más personas mejor, por ello
              hemos creado un canal de youtube, para resolver las dudas que aparecen en el
              mundo laboral. Nuestra misión es que se comprenda el derecho y que llegue a todos
              los interesados, si quieres resolver tu duda no lo pienses y ¡Envía tu consulta!.
            </p>
          </div>
        </div>
      </div>
  
    </section>
  
    <section>
      <div class=" is-flex pd-50  fondo-basic">
        <div class="container-2">
          <div class="row">
            <div class="col text-center">
              <h4 class="h4">
                Nuestro equipo
              </h4>
              <h2 class="h2 pb-20">
                SOMOS LABORALISTAS
              </h2>
              <p>
                Constituido por abogados que tienen como único objetivo solventar tu problema
  
                laboral, nos gusta poner soluciones a tus problemas
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="is-flex pd-50 fondo-basic">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="card">
                <img src="/web/20231206142130im_/https://www.abogado-laboral.es/images/abogado-laboral-sevilla_a.jpg" alt="pedro lopez" class="pb-20">
                <div class="title">Abogado laboralista
                </div>
                <div class="subtitle">Pedro López</div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/web/20231206142130im_/https://www.abogado-laboral.es/images/abogado-laboral-sevilla_b.jpg" alt="sara vera" class="pb-20">
                <div class="title">Consultora Fiscal y Asesora de empresas
                </div>
                <div class="subtitle">Sara Vera
                </div>
              </div>
  
            </div>
            <div class="col">
              <div class="card">
                <img src="/web/20231206142130im_/https://www.abogado-laboral.es/images/abogado-laboral-sevilla_c.jpg" alt="javier gago" class="pb-20">
                <div class="title">Consultor Fiscal y Asesor de empresas
                </div>
                <div class="subtitle">Javier Gago
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </section>
  
    <section class="pd-50">
  
      <form method="post" action="contact.php" name="contactform" id="contactform">
        <div class="container-3 ">
          <div class="row flex-row">
  
  
  
            <div class="col">
  
              <h6 class="h4 mb-20">Contacta con nosotros</h6>
              <p class="h6">
                Email, llámanos o visíte <br>
                nuestras oficinas en el <br>
                centro de Sevilla <br>
              </p>
  
  
  
              <h6 class="h7">
                Dirección de abogado-laboral.es
              </h6>
              <p class="p1">
                Avenida república argentina 37-a 2º1ª
              </p>
              <p class="p1">
                info@agobado-laboral.es
              </p>
  
              <p class="p1">
                Telf: 854 74 67 20
              </p>
              <span class="h7">
                Email:
              </span>
              <a class="h7" mailto="info@abogado-laboral.es " href="">info@abogado-laboral.es</a>
            </div>
            <!-- <div class="col">
              <div class="pt-20">
                <div class="field pb-10">
                  <label class="text-1 pb-10">Nombre
  
                    <input required="" class="input " name="name" type="text" id="name" size="30" value=""
                      placeholder="Nombre apellidos">
                  </label>
                </div>
                <div class="field pb-10">
                  <label class="text-1 pb-10">Email
                    <input required="" class="input " name="email" type="email" id="email" size="30" value=""
                      placeholder="e.g. info@abogado-laboral.es">
                  </label>
                </div>
                <div class="field pb-10">
                  <label class="text-1 pb-10">Comentarios
                    <textarea required="" name="comments" cols="40" rows="3" id="comments" class="textarea "
                      placeholder="Tus dudas"></textarea>
                  </label>
                </div>
                <div class="field pb-10">
                  <p><span class="required">*</span> Confirma que no eres un robot: </p>
                  <label class="text-2" for="verify" accesskey="V">3 + 1 =
                    <input class="inputmini" required="" name="verify" type="text" id="verify" size="4">
                    <input type="hidden" name="lang" class="submit" id="lang" value="es">
                  </label>
                </div>
  
  
                <div class="field pb-10">
                  <span class="checkmark"></span>
  
  
                  <input id="agreement" type="checkbox">
                  <label for="agreement ">
                    <span class="text-1 pb-10">He leído y acepto la <a href="legal/politica.html">Política de
                        privacidad</a></span></label>
  
  
  
                </div>
                <div class="field">
                  <input disabled="" type="submit" class="link-btn " id="submit" value="Enviar">
                </div>
              </div>
  
  
            </div> -->
          </div>
        </div>
  
  
      </form>
  
  
    </section>
  
  
  
    <section>
      <div class="columns align-middle  is-flex hero-medium fondo-4">
        <div class="container-2">
          <div class="row">
            <div class="col text-center">
              <!-- <h1 class="h1">titulo</h1>
              <h2 class="h2">titulo h2</h2> -->
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <footer>
      <div class="container">
        <div class="row">
          <div class="col">
            <h3 class="h7 pb-20">abogado-laboral.es</h3>
  
            <p class="p1 mb-10">
              En abogado-laboral.es nos avala la confianza de asociaciones como Asperger Sevilla, Autismo Sevilla o TDHA
              Sevilla.
  
            </p>
          </div>
  
          <div class="col">
  
          </div>
          <div class="col">
            <h3 class="h7 pb-20">links de interés</h3>
            <ul>
              <li><a class="link1" href="https://web.archive.org/web/20231206142130/https://grupogarantia.es/" target="_blank" rel="noopener">grupogarantia.es</a></li>
                    <li><a class="link1" href="https://web.archive.org/web/20231206142130/https://www.abogadolaboralsevilla.es/" target="_blank" rel="noopener">abogadolaboralsevilla.es/</a></li>
  
            </ul>
          </div>
          <div class="col">
            <h3 class="h7 pb-20">Datos legales</h3>
            <ul>
              <li><a class="link1" href="/web/20231206142130/https://www.abogado-laboral.es/legal/avisolegal">Aviso legal</a></li>
              <li><a class="link1" href="/web/20231206142130/https://www.abogado-laboral.es/legal/politica">Política de cookies</a></li>
              <li><a class="link1" href="/web/20231206142130/https://www.abogado-laboral.es/legal/proteccion">Protección de Datos</a></li>
            </ul>
          </div>
  
        </div>
      </div>
  
      <div class="container">
        <div class="row">
          <div class="col">
            <p>
              © abogado-laboral.es,. 2019 / All Rights Reserved.
            </p>
          </div>
        </div>
      </div>
    </footer>
  
  
    <!-- Google analytics Snippet by https://mathiasbynens.be/notes/async-analytics-snippet 
      (function (G, o, O, g, l) {
        G.GoogleAnalyticsObject = O;
        G[O] || (G[O] = function () {
          (G[O].q = G[O].q || []).push(arguments)
        });
        G[O].l = +new Date;
        g = o.createElement('script'), l = o.scripts[0];
        g.src = 'https://www.google-analytics.com/analytics.js';
        l.parentNode.insertBefore(g, l)
      }(this, document, 'ga'));
      ga('create', 'UA-XXXX-Y');
      ga('send', 'pageview')
    </script>
  -->
    <script async="" src="https://web.archive.org/web/20231206142130js_/https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
    <script>
      // Contact logic 
      var agreementCheckbox = document.getElementById('agreement');
      agreementCheckbox.addEventListener('click', function (event) {
        document.getElementById('submit').disabled = !agreementCheckbox.checked;
      });
  
      $(document).ready(function () {
        //your code here
        $("#contactform").submit(function () {
          var action = $(this).attr("action");
          $("#message").slideUp(750, function () {
            $("#message").hide();
            $("#submit").after('<img src="https://web.archive.org/web/20231206142130/http://www.kivnon.com/assets/ajax-loader.gif" class="loader" />')
              .attr(
                "disabled", "disabled");
            $.post(action, {
              name: $("#name").val(),
              email: $("#email").val(),
              phone: $("#phone").val(),
              subject: $("#subject").val(),
              comments: $("#comments").val(),
              verify: $("#verify").val(),
              lang: $("#lang").val()
            }, function (data) {
              document.getElementById("message").innerHTML = data;
              $("#message").slideDown("slow");
              $("#contactform img.loader").fadeOut("slow", function () {
                $(this).remove();
              });
              $("#submit").removeAttr("disabled");
              if (data.match("success") != null) $("#contactform").slideUp("slow");
            });
          });
          return false;
        });
  
      });
    </script>
  
  
  
  </body>

  </section>