.bubble-whatsapp {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
  background: #25d366;
  border-radius: 50%;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
  z-index: 1000;
  &:hover {
    opacity: 0.85;
  }
}

.bubble-whatsapp svg,
.bubble-whatsapp svg#bubble-whatsapp-icon,
svg#bubble-whatsapp-icon {
  width: 24px;
  height: 24px;
  display: block;
  fill: #fff;
  transition: opacity 160ms ease-in-out;
  path {
    fill: #fff;
  }
}



